<?xml version="1.0"?>
<clickhouse>
<listen_host>::</listen_host>
<remote_servers incl="clickhouse_remote_servers" ></remote_servers>
<include_from>/etc/clickhouse-server/cluster.xml</include_from>
<zookeeper incl="zookeeper-servers" optional="true" > </zookeeper>
<macros incl="macros" optional="true" > </macros>
</clickhouse>